.quiz-container {
    // padding: 15px;

    .title {
        font-style : 30px;
        font-weight: 600;
    }

    legend {
        font-style: 13px;
    }

    .list-detail {
        padding: 15px;
    }
}