.manage-user-container {
    padding: 10px;

    .title {
        font-weight: 600;
        font-style : 20px;
    }

    .users-content {
        .btn-add-new {
            margin: 15px 0;
        }
    }
}

.modal-add-user {
    .img-preview {
        border         : 1px dashed #ccc;
        height         : 250px;
        border-radius  : 5px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        color          : #ccc;

        img {
            max-width : 100%;
            max-height: 100%;
            object-fit: cover
        }
    }

    .label-upload {
        display      : flex;
        align-items  : center;
        gap          : 5px;
        border       : none;
        width        : fit-content;
        padding      : 3px 10px;
        border-radius: 10px;
        background   : #7fe3a3;
        cursor       : pointer;

        &:hover {
            background: #0a8b3b;
        }
    }
}